@page "/AccountApproval/{id}"

@inherits AccountApprovalBase


@if (AcMaster == null)
{
    <div class="spinner"></div>
}
else
{
<EditForm Model="@AcMaster">
    <div class="top-row mt-0 fixed-top">
        <div class="col-md-9 text-white-50 btn-gradian1"><h2>Approve Account</h2></div>
        <div class="col-md-3">
            <button type="submit" class="btn btn-success btn-width">
                Save
            </button>
            <a class="btn btn-success btn-width" href="/findaccount">Find</a>
            <a class="btn btn-success btn-width" href="/accountmaster">Main</a>
        </div>
    </div>
    <hr class="hr-new1" />
    <div class="form-group row">
        <label for="LedgerCode" class="col-sm-2 col-form-label">
            Ledger Code
        </label>
        <div class="col-sm-8">
            <InputSelect id="ledgerCode" class="form-control" placeholder="Ledger Code" readonly="true"
                         @bind-Value="AcMaster.AcMasterID">
                <option value="@AcMaster.AcMasterID"> @AcMaster.LedgerCode</option>
            </InputSelect>
        </div>
    </div>
    <div class="form-group row">
        <label for="AccountCode" class="col-sm-2 col-form-label">
            Account Code
        </label>
        <div class="col-sm-8">
            <InputText id="AccountCode" class="form-control" readonly="true" @bind-Value="AcMaster.Acno"></InputText>
        </div>
    </div>
    <div class="form-group row">
        <label for="AccountName" class="col-sm-2 col-form-label">
            Account Name
        </label>
        <div class="col-sm-8">
            <InputText id="AccountName" class="form-control" readonly="true" @bind-Value="AcMaster.Acname"></InputText>
        </div>
    </div>
    <DisplayAccountFooter AcMaster="AcMaster" Disable_Flag="Disable_Act_Footer"></DisplayAccountFooter>
</EditForm>
}