@page "/mainfa"
@inherits MainFABase

    <div class="row ml-1 mr-1">
        <div class="col-sm-12 text-center btn-gradian1 text-white-50">
            <h3>Financial Accounting</h3>
        </div>
    </div>
    <MainMenu clickModule="FA" login_usr="pradeep"></MainMenu>