@page "/mainEC/{ModuleMasterID}"
<div class="row ml - 1 mr - 1">
<div class="col - sm - 12 text - center btn - gradian1 text - white - 50">
<h3>ERP System Configuration</h3>
</div>
</div>
<MainERPLayout selectedModule=@int.Parse(ModuleMasterID)></MainERPLayout>
@code
{ 
    [Parameter]
    public string ModuleMasterID { get; set; }
}